@page "/"

<PageTitle>Crafting Projekte</PageTitle>

<main class="page">
    <h1 class="header">Projekte</h1>
    <aside class="sidebar">
        @foreach (var todo in _todos.Where(todo => !todo.IsDone))
        {
            <a class="sidebar__item @(todo.Id == _selectedTodo.Id ? "is--selected" : "")" @onclick=@(_ => _selectedTodo = todo)>@todo.Title</a>
        }
        <a class="sidebar__item @(_selectedTodo.IsNew ? "is--selected" : "")" @onclick="@(_ => _selectedTodo = new Todo { IsNew = true })">Neues Projekt</a>
        <hr class="sidebar__separator"/>
        @foreach (var todo in _todos.Where(todo => todo.IsDone))
        {
            <a class="sidebar__item @(todo.Id == _selectedTodo.Id ? "is--selected" : "") is--done" @onclick=@(_ => _selectedTodo = todo)>@todo.Title</a>
        }
    </aside>
    <div class="content">
        <h3>
            @if (_selectedTodo.IsNew)
            {
                @: Neues Projekt
            }
            else
            {
                @_selectedTodo!.Title
            }
        </h3>
        <form class="form" @onsubmit="SaveTodo" @formname="todo-form">
            <AntiforgeryToken/>
            @if (_selectedTodo.IsNew)
            {
                <label class="label" for="title">Name</label>
                <input class="input" required name="Title" id="title" type="text" @bind="_selectedTodo!.Title"/>
            }
            else
            {
                <input required name="Title" id="title" type="hidden" @bind="_selectedTodo!.Title"/>
            }
            <label class="label" for="kind">Art</label>
            <input class="input" name="Kind" id="kind" type="text" @bind="_selectedTodo!.Kind"/>
            <label class="label" for="status">Status</label>
            <input class="input" name="Status" id="status" type="text" @bind="_selectedTodo!.Status"/>
            <label class="label" for="material">Material</label>
            <input class="input" name="Material" id="material" type="text" @bind="_selectedTodo!.Material"/>
            <div class="input">
                <input class="checkbox" id="isDone" name="IsDone" type="checkbox" @bind="_selectedTodo!.IsDone"/>
                <label for="isDone">Erledigt</label>
            </div>
            <div class="input">
                <input class="checkbox" id="isPartsMissing" name="IsPartsMissing" type="checkbox" @bind="_selectedTodo.IsPartsMissing"/>
                <label for="isPartsMissing">Teile Fehlen</label>
            </div>
            <label class="label" for="notes">Notizen</label>
            <textarea class="input" name="Notes" id="notes" rows="10" @bind="_selectedTodo.Notes"></textarea>
            <div class="button-row">
                @if (!_selectedTodo.IsNew)
                {
                    <button class="button is--negative" onclick="confirmDelete.showModal()">
                        <svg viewBox="0 0 24 24" class="lucide">
                            <path d="M3 6h18"/>
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                        </svg>
                        Löschen
                    </button>
                }
                <button type="submit" class="button">
                    <svg viewBox="0 0 24 24" class="lucide">
                        <path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/>
                        <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/>
                        <path d="M7 3v4a1 1 0 0 0 1 1h7"/>
                    </svg>
                    Speichern
                </button>
            </div>
        </form>
    </div>
</main>

<dialog class="dialog" id="confirmDelete">
    <form method="post" @onsubmit="DeleteTodo" @formname="delete-todo-form">
        <AntiforgeryToken/>
        <span class="dialog__title">Projekt @_selectedTodo.Title löschen?</span>
        <p class="dialog__content">
            Möchtest du das Project @_selectedTodo.Title wirklich löschen?
            @if (!_selectedTodo.IsDone)
            {
                <br/>
                @: Das Projekt ist noch nicht erledigt bist du sicher?
            }
        </p>
        <div class="dialog__buttons">
            <button class="button is--dialog" type="button" onclick="confirmDelete.close()">
                <svg viewBox="0 0 24 24" class="lucide">
                    <path d="M18 6 6 18"/>
                    <path d="m6 6 12 12"/>
                </svg>
                Nicht löschen
            </button>
            <button class="button is--dialog is--negative" type="submit">
                <svg viewBox="0 0 24 24" class="lucide">
                    <path d="M3 6h18"/>
                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                </svg>
                Projekt löschen
            </button>
        </div>
    </form>
</dialog>